<p id="notice"><%= notice %></p>

<p>
  <b>Report:</b>
  <%= @status.report_id %>
</p>

<p>
  <b>Goal:</b>
  <%= @status.goal_id %>
</p>

<p>
  <b>State:</b>
  <%= @status.state %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
