%h1= "Edit goal: #{@goal.goal_name}"

= form_tag goal_path(@goal), :method => :put do
	= render :partial => "goal_form"

	= label :goal, :active, "Uncheck to archive this goal"
	= check_box :goal, :active

	= submit_tag "update goal" 