%h1 Submit a report
= form_for @report, :url => user_reports_path do |f|
	= f.date_select :report_date
	= f.fields_for :statuses do |s_f|
		%div
			= s_f.check_box :status
			= s_f.label :status, s_f.object.goal.goal_name
			= s_f.hidden_field :goal_id
	= submit_tag "submit"